@use "../abstracts";
.btn {
  --height: 60px;
  border-radius: 30px;
  height: var(--height);
  line-height: var(--height);
  @include abstracts.flexCenter;
  gap: 0 10px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  &-1 {
    border: 1px solid abstracts.$gray;
    color: abstracts.$black;
    transition: all 0.2s linear;
    svg {
      color: abstracts.$black;
      transition: all 0.2s linear;
    }
    &:hover {
      border: 1px solid abstracts.$bg-color;
      background: abstracts.$black;
      color: abstracts.$white;
      svg {
        color: abstracts.$white;
      }
    }
  }
  &-2 {
    border: 1px solid abstracts.$gray-white;
    color: abstracts.$white;
    transition: all 0.2s linear;
    svg {
      color: abstracts.$white;
      transition: all 0.2s linear;
    }
    &:hover {
      border: 1px solid abstracts.$bg-color;
      color: abstracts.$black;
      background: abstracts.$white;
      svg {
        color: abstracts.$black;
      }
    }
  }
}
