@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin grid($column, $spacing) {
  --column: #{$column};
  --spacing: #{$spacing};
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  row-gap: var(--spacing);
  > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
